<!-- WITCH -->
{% if game_infos.dayState == 1 and request.user.alive == True %}
    <h2> Votes </h2>
    {% if request.user.has_voted == False %}
        {% for player in party_players %}
            {% if player.alive == False %}
                <p class='button_style' style='text-decoration-line: line-through;'>{{ player.username }}</p>
                {% else %} <!-- Alive false -->
                <form style='display:inline;'  method="post">
                {% csrf_token %}
                <input type="submit" name='vote' value="{{ player.username }}">
                </form>
                {% endif %} <!-- Alive false -->

        {% endfor %}
    {% else %} <!-- Si déjà voté -->
    {% endif %}
{% endif %}





{% if game_infos.dayState == 2 and request.user.player_card.id == 6 %}
    <div class='row'>
        <div class='col-sm-6'>
            {% if request.user.has_voted %}
            <p> Vous avez déjà préparé une potion ce soir ! </p>
            {% elif request.user.power_usage == 1 or request.user.power_usage == 4 %}
            <p>Qui souhaitez-vous soigner ce soir ?</p>
                {% for player in party_players %}
                    {% if player.alive == False %}
                        <p class='button_style' style='text-decoration-line: line-through;'>{{ player.username }}</p>
                        {% else %} <!-- Alive false -->
                        <form style='display:inline;'  method="post">
                        {% csrf_token %}
                        <input type="submit" name='healpotion' value="{{ player.username }}">
                        </form>
                        {% endif %} <!-- Alive false -->
                {% endfor %}
            {% else %}
            <p>Vous avez déjà soigné quelqu'un !</p>
            {% endif %}
        </div>
        <div class='col-sm-6'>
            {% if request.user.has_voted %}
                <p> Vous avez déjà préparé une potion ce soir ! </p>
            {% elif request.user.power_usage == 1 or request.user.power_usage == 3 %}
            <p>Qui souhaitez-vous tuer ce soir ?</p>
            {% for player in party_players %}
                {% if player.alive == False %}
                    <p class='button_style' style='text-decoration-line: line-through;'>{{ player.username }}</p>
                    {% else %} <!-- Alive false -->
                    <form style='display:inline;'  method="post">
                    {% csrf_token %}
                    <input type="submit" name='killpotion' value="{{ player.username }}">
                    </form>
                    {% endif %} <!-- Alive false -->
            {% endfor %}
            {% elif request.user.has_voted %}
                <p> Vous avez déjà préparé une potion ce soir ! </p>
            {% else %}
                <p> Vous avez déjà tué quelqu'un ! </p>
            {% endif %}
        </div>

    </div>

{% endif %}
